@font-face {
    font-family: meroche;
    src: url(fonts/MEROCHE.ttf), url(fonts/MEROCHE.woff), url(fonts/MEROCHE.woff2);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FBF8EF;
}

h1, h2, p, a {
    color: #191919;
}

h1, h2 {
    font-family: meroche;
}

h2 {
    font-size: 45px;
}

p {
    font-size: 12px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.header-space {
    height: 68px;
}

/* Content */

.content .images .image {
    padding: 5px;
}

.content img, #collections img {
    width: 100%;
    height: 100%;
}

/* Navbar */

.navbar {
    padding: 0;
}

.navbar, .navbar-collapse {
    background-color: #FBF8EF;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.navbar-light .navbar-toggler-icon {
    background-size: 60%;
}

#navbarSupportedContent {
    background-color: #FBF8EF;
    padding: 10px 15px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.05);
}

#navbarSupportedContent ul li {
    line-height: 1;
    padding: 5px;
}

#navbarSupportedContent ul li a {
    font-size: 10px;
    transition: all 0.2s;
}

#navbarSupportedContent ul li a:hover {
    text-decoration: none;
    color: #191919;
    margin-left: 3px;
    transition: all 0.2s;
}

/* Cover */

#cover {
    background: #FBF8EF;
    padding: 10px;
    height: 510px;
}

/* About */

.side-title {
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transform: rotate(270deg) translateX(-128px);
    transform-origin: top left;
    padding: 20px;
}

.side-title h1 {
    font-size: 100px;
}

#about {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

#about .images {
    margin-top: -430px;
}

#aboutImage {
    min-height: 300px;
    height: 300px;
    min-width: 300px;
    width: 300px;
    background-image: url(img/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.8s;
    margin-bottom: 1rem;
}

#aboutImage:hover {
    background-image: url(img/1.png);
    transition: all 0.8s;
}

#about .info {
    margin-top: 0px;
}

/* collections */

#collections .title {
    margin-bottom: 80px;
}

#collections a.card {
    border: none;
    box-shadow: 0px 6px 20px 0px rgba(211, 211, 211, 0.5);
    color: #191919;
    margin-bottom: 15px;
    transition: all 0.2s;
    margin: 20px 25px;
}

#collections a.card:hover {
    text-decoration: none;
    margin-top: -5px;
    transition: all 0.2s;
}

#collections .card, #collections .card img {
    border-radius: 0;
}

#collections .card .wrapper {
    padding: 15px 15px 0 15px;
}

#collections .card .card-title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

/* Contact */

#contact {
    padding-top: 70px;
    padding-bottom: 70px;
}

#contact h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 62px;
}

#contact .form-control {
    border: none;
}

#contact .btn {
    background-color: white;
    color: #191919;
}

#contact .form-control:focus, #contact .btn:focus {
    box-shadow: none;
}

#contact .social a:hover {
    opacity: 0.8;
}

/* works */

#works {
    padding: 20px 0;
}

#works .title {
    margin-bottom: 20px;
}

#works .info {
    margin-bottom: 20px;
}

#works .carousel-item img {
    width: 100%;
    height: auto;
}

#works .carousel-control-next-icon, #works .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-size: 60%;
}

/* footer */

.footer p {
    color: #D8C7B6;
}

/* for larger screens */

@media only screen and (min-width: 766px) {
    h2 {
        font-size: 100px;
        line-height: 0.95;
    }
    p {
        font-size: 16px;
    }
    .navbar {
        padding: 10px;
    }
    #navbarSupportedContent {
        padding: 0px 20px;
        background-color: #FBF8EF;
        box-shadow: none;
    }
    #navbarSupportedContent ul li {
        padding: 0px;
    }
    #cover {
        padding: 10px 50px;
        height: 700px;
    }
    #cover h2 {
        font-size: 120px;
    }
    .side-title {
        display: block;
    }
    #about .info {
        margin-top: 70px;
    }
    #collections {
        padding: 100px 0;
    }
    #collections a.card {
        margin: 0px;
        margin-bottom: 20px
    }
    #works {
        padding: 50px 0;
    }
    #works .title {
        margin-bottom: 50px;
    }
    #works .title h1 {
        font-size: 120px;
    }
    #works .info {
        margin-bottom: 20px;
    }
    #works .carousel-item img {
        width: auto;
        height: 500px;
    }
}